* {
	box-sizing: border-box;
}
body,html {
	height: 100%;
}
.viewport {
	height: 100%;
}
p,h2{
	color: white;
}


.f60 {
	height: 66.66%;
}
.f40 {
	height: 33.3%
}

.no-padding {
	padding: 0;
}

.row {
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}

.title-flex-box {
	
	
	background-color: black;
	margin:auto;
	font-family: 'Open Sans', sans-serif;	
	text-align: center;
	display: flex;
		flex-direction: row; /* row, heading will be displayed row wise*/
		flex-wrap: wrap; /* wrap, so that it gets wrap if things are small*/
		justify-content: center; /*so that contents stays in the center*/
		align-content: center; /*so that it always align in the center*/
		
		align-items: flex-end; /*so thst goes in the end of the container box*/ /*Also in MediaQuery*/
		padding-bottom: 50px; /*Also in MQ*/


}
.title-flex-box h2 {
	font-size: 70px; /*Also in MQ*/
}

.sub-text-flex-box {
	
	
	background-color: black;
	margin:auto;	

	display: flex;
		flex-direction: row;/* row, heading will be displayed row wise*/
		flex-wrap: wrap; /* wrap, so that it gets wrap if things are small*/
		justify-content: center; /*so that contents stays in the center*/
		align-items: stretch; /*so that the content covers the full part of the 
								displaying box, and as our p tags will be displayed column wise*/
		align-content: flex-start; /*so that when the limits exceeds the content always stuck to the top*/

}
.sub-text-flex-box p {
	font-size: 20px; /*MQ*/
	padding: 10px;
	line-height: 150%;
	font-family: 'Merriweather',serif;
}

@media screen and (max-width: 360px) { /*for mobile devices reducing size of fonts and aligning it to the top*/
	.title-flex-box {
		align-items: flex-start;
		padding-top: 30px;
		font-size: 35px;
	}	
	.sub-text-flex-box p{
		font-size: 15px;
	}
}
.huge {
	font-size: 50px;
	color: white;
}
.huge:hover {
	font-size: 55px;
	color: white;
}


.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}